# Java build artifacts
*.class
build/
*.jar

# Hadoop dependencies
hadoop-libs/

# Hadoop output
output/
analysis_runs/

# IDE files
.idea/
*.iml
.DS_Store
Thumbs.db

# Local Hive / Derby files
derby.log

# Pig installation/archive/logs
pig-0.17.0/
pig-0.17.0.tar.gz
pig_*.log

# Python cache
__pycache__/
